body{
  background-image: url(../images/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  font-family: 'Saira', sans-serif;
}

h1{
  margin:5% auto 0 5%;
  font-size: 40px;
  font-family: 'Cormorant SC', serif;
}


/* ################## header ########################### */

.nav > .crew{
    border-bottom: 2px solid white;
}


/* ################## main ########################### */

main{
  position: relative;
  width: 80%;
  left: 10%;
  margin-bottom: 7%;
  padding-top: 50px;
  padding-bottom: 100px;
  border-radius: 15px;
}

.crew-profile{
  position: relative;
  width: 100%;
  height: 400px;
}

.description{
  position: absolute;
  display: inline-block;
  width: 40%;
  height: fit-content;
  top: 50%;
  transform: translateY(-50%);
}

.description > p{
  display: block;
  /* height: 60%; */
  /* margin: 5% auto 0 auto; */
  line-height: 3;
}

.highlight{
  display: block;
  font-size: 35px;
}

.image{
  position: absolute;
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
}


.image > img{
  position: relative;
  display: inline-block;
  height: 70%;
  top:50%;
  transform: translateY(-50%);
}

.image > p{
  position: absolute;
  display:inline-block;
  height: 10%;
  width: 100%;
  text-align: center;
  line-height: 3;
  bottom: 4%;
  left: 0;
}

/* ################# mobile size #################### */

@media screen and (max-width:1300px) {

  .description > p{
    font-size: 15px;
  }


  /* .image > img{
    height: 80%;
  } */

  .highlight{
    font-size: 25px;
  }

  .image > p{
    font-size: 10px;
    /* bottom: 5%; */
  }
}


@media screen and (max-width:1200px) {

  .description > p{
    font-size: 13px;
  }


  .image > img{
    height: 65%;
  }

  .highlight{
    font-size: 20px;
  }

  .image > p{
    font-size: 9px;
    bottom: 6%;
  }
}


@media screen and (max-width:950px) {

  .description > p{
    font-size: 11px;
  }


  .image > img{
    height: 50%;
  }

  .highlight{
    font-size: 18px;
  }

  .image > p{
    font-size: 8px;
    bottom: 14%;
  }
}


@media screen and (max-width:710px) {

  .description > p{
    font-size: 10px;
  }


  .image > img{
    height: 45%;
  }

  .highlight{
    font-size: 12px;
  }

  .image > p{
    font-size: 7px;
    bottom: 16%;
  }
}

@media screen and (max-width:630px) {
  .description > p{
    font-size: 8px;
  }
  .image > img{
    height: 35%;
  }



}

@media screen and (max-width:450px) {
  .description > p{
    font-size: 6px;
  }
  .image > img{
    height: 30%;
  }


}


/*  switch image's position with description's position */

.right{
  right: 5%;
}

.left{
  left : 5%;
}

/* remove last margin-bottom of crew-prfile */

.last{
    margin-bottom: 0;
}
