body{
  background-image: url(../images/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
}
/* ################# header ################# */



.nav > .destination{
    border-bottom: 2px solid white;
}

/* ################# main ################# */

main{
  position: absolute;
  top: 28%;
  height: fit-content;
  width: 100%;
}

.pick-your-destination{
  height: 200px;
  -webkit-backdrop-filter : blur(5px);
  backdrop-filter : blur(5px);
  background: #ffffff33;
  font-size: 80px;
}

.pick-your-destination > h1{
  position: absolute;
  display: block;
  width: fit-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}


main > div>.image-section{
  display: inline-block;
  width: 12%;
  margin-left: 10%;
  margin-top: 50px;
}

main > div>.image-section > a>img{
    width: 100%;
}

main > div>.image-section > p{
  display: block;
  width: fit-content;
  line-height: 2.5;
  margin: auto;
}

main > div >.image-section:hover{
  animation-name: scale;
  animation-duration: 2s;

}


/* ################ footer ################# */

.spacing{
  width: 100%;
  height: 6vh;
  /* background-color: blue; */
  bottom:0;
}


/* ################ animation ################# */

@keyframes scale{
  from{
    transform: scale(1.0,1.0);
  }

  to{
    transform: scale(1.2,1.2);
  }
}
