body{
  background-image: url("../images/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  font-family: 'Cormorant SC', serif;
  overflow-y: hidden;
}
/* ################# header ################# */



.nav > .destination{
    border-bottom: 2px solid white;
}

/* ################# main ################# */

main{
  position: absolute;
  top: 28%;
  height: fit-content;
  width: 100%;
}

.pick-your-destination{
  display: table;
  width: 100%;
  height: 200px;
  -webkit-backdrop-filter : blur(5px);
  backdrop-filter : blur(5px);
  background: #ffffff33;
  font-size: 80px;
  text-align: center;
}

.pick-your-destination > h1{
  display: table-cell;
  width: fit-content;
  vertical-align: middle;
}


main > div>.image-section{
  display: inline-block;
  width: 12%;
  margin-left: 10%;
  margin-top: 50px;
}

main > div>.image-section > a>img{
    width: 100%;
}

main > div>.image-section > p{
  display: block;
  width: fit-content;
  line-height: 2.5;
  margin: auto;
}

main > div >.image-section:hover{
  animation-name: scale;
  animation-duration: 2s;

}


/* ################ footer ################# */

.spacing{
  width: 100%;
  height: 6vh;
  /* background-color: blue; */
  bottom:0;
}

/* ############### mobile size ############## */

@media screen and (max-width:1240px) {
  body{
    background-image: url("../images/destination/background-destination-tablet.jpg");
  }
}

@media screen and (max-width:870px) {
  .pick-your-destination{
    font-size: 60px;
  }
}


@media screen and (max-width:710px) {
  .pick-your-destination{
    font-size: 40px;
  }
}

@media screen and (max-width:490px) {
  .pick-your-destination{
    font-size: 30px;
  }
}

@media screen and (max-width:300px) {
  .pick-your-destination{
    font-size: 20px;
  }
}


/* ################ animation ################# */

@keyframes scale{
  from{
    transform: scale(1.0,1.0);
  }

  to{
    transform: scale(1.2,1.2);
  }
}
