body{
  background-image: url(../images/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  overflow-x: hidden;
  font-family: 'Saira', sans-serif;
}
/* ################# header ###################### */

.nav > .destination{
    border-bottom: 2px solid white;
}

/* ################# main ###################### */

main{
  position: relative;
  top: 10vh;
  /* move this right */
  right:0;
  width: 100%;
  overflow-x: hidden;

}


.previous, .next{
  display: inline-block;
  position: absolute;
  width: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  background-color: #ffffff40;
  color: white;
  -webkit-backdrop-filter : blur(20px);
  backdrop-filter : blur(20px);
  border: none;
  padding : 70px 0 70px 0;
}

.previous:hover, .next:hover{
  border: 1px solid white;
  cursor: pointer;
}

.previous{
  left:0;
}

.next{
  right:0;
}

span{
  display: block;
  font-size: 40px;
}


.information{
  position: relative;
  display: inline-block;
  width: 25%;
  margin-right: -10px;
}

.image-section{
  display: inline-block;
  width: 30%;
  margin-left: 15%;
  margin-right: 10%;
}

.image-section > img{
  width: 100%;
}

.image-section > p{
  display: block;
  width: fit-content;
  margin: auto;
  line-height: 3;
}

.description{
  position: absolute;
  display: inline-block;
  width: 30%;
  height: 100%;
}

.description>p{
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: middle;
  width: fit-content;
  line-height: 3;
  font-size: 15px;
  margin: auto;
}


.prevent-overflow{
  position: relative;
  width: 400%;
  overflow-x: hidden;
}
