body{
  background-image: url(../images/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  font-family: 'Saira', sans-serif;
  /* overflow-x: hidden; */
}
/* ################# header ###################### */

.nav > .destination{
    border-bottom: 2px solid white;
}

/* ################# main ###################### */

main{
  position: absolute;
  top: 25%;
  overflow-x: hidden;
  /* move this right */
  right:0;
  width: 100%;
  height: 120%;
}


.previous, .next{
  display: inline-block;
  position: fixed;
  width: 3%;
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
  /* bottom: 0;   */
  z-index: 3;
  background-color: #ffffff40;
  color: white;
  -webkit-backdrop-filter : blur(20px);
  backdrop-filter : blur(20px);
  border: none;
  font-size: 19px;
  font-weight:bold;
}

.previous:hover, .next:hover{
  border: 1px solid white;
  cursor: pointer;
}

.previous{
  left:0;
}

.next{
  right:0;
}

span{
  display: block;
  font-size: 40px;
}


.information{
  position: relative;
  display: inline-block;
  width: 25%;
  margin-right: -10px;
}

.image-section{
  display: inline-block;
  width: 30%;
  margin-left: 15%;
  margin-right: 10%;
}

.image-section > img{
  width: 100%;
}

.image-section > p{
  display: block;
  width: fit-content;
  margin: auto;
  line-height: 3;
}

.description{
  position: absolute;
  display: inline-block;
  width: 30%;
  /* height: 100%; */

}

.description>p{
  position: absolute;
  height: 100%;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  line-height: 3;
  font-size: 15px;
  margin: auto;
}


.prevent-overflow{
  position: relative;
  width: 400%;
  height: 100%;
}

@media screen and (max-width:1240px) {
  .image-section{
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    margin-left: 0;
    margin-right: 0;
  }

  .description{
    position: relative;
    display: block;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }

  .information{
    margin-right: -3px;
  }

  .previous, .next{
    width: 7%;
  }
}
