body{
  background-image: url(../images/home/background-home-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;
  font-family: 'Cormorant SC', serif;
}



/* ################# header ################# */



.nav > .home{
    border-bottom: 2px solid white;
}

/* ################# main ################# */

main{
  position: absolute;
  top: 35%;
  width: 100%;
}

.greeting{
  position: relative;
  display: inline-block;
  width: 30%;
  height: 300px;
  left: 13%;
}

.greeting:hover{
  animation-name: blur;
  animation-duration: 5s;
}

.greeting > h1{
  font-size: 120px;
  padding-top: 25px;
  padding-bottom: 50px;
  font-family: 'Cormorant SC', serif;
}

.greeting > h3{
  font-size: 20px;
  line-height: 2;
}


.greeting > p{
  line-height: 1.4;
}


.explore{
  position: absolute;
  display: inline-block;
  right: 13%;
  width: 250px;
  height: 250px;
  background-color: red;
  border-radius: 150px;
  background-color: white;
  bottom: 15vh;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.explore:hover{
  animation-name: blur;
  animation-duration: 5s;
}


.explore > h1{
  position: absolute;
  display: block;
  width: fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  font-size: 35px;
}
/* ################ footer ################# */

.spacing{
  width: 100%;
  height: 15vh;
}


/* ################# animation ################# */


@keyframes blur {
  from{
    filter: blur(0px);
  }

  to {
    filter: blur(25px);
  }
}
